.menuhorizontal{
    margin: 0;
    padding: 0;
    width: auto;
    height: 25px;
    }

    /*definições gerais do menu*/

.menuhorizontal ul{
    list-style: none;
    }
    
    /*retirar o estilo das listas*/
    
    .menuhorizontal li{
    display: inline;
    float: left;
    padding:0px;
    margin: 0;
    width: 548px;
    border-left: #666666 thin solid;
    }

/*formatar a lista. Definir o tamanho do botão, o seu posicionamento e display: inline por ser um menu horzontal*/

.menuhorizontal a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #CCCCCC;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    }

    /* formatação da âncora e área clicável*/

.menuhorizontal :hover{
    background-color: #487ff5;
    text-decoration: none;
    color: #ececec;
    }
    
    /*formatação do estado :hover*/
    
    .menuhorizontal li.btnesquerdo{
    border: none;}